.noteCard{
background-color: cornsilk;
height: 200px;
min-width: 150px;
transition: box-shadow .2s ease-in-out;
cursor: pointer;
}

.noteCard:hover{
box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
}
.cardText {
white-space: pre-line;
}
.cardBody{
    overflow: hidden;
    mask-image: linear-gradient(180deg,#000 60%, transparent);
}